.navbar {
    background-color: black !important;
    color: white !important;
    padding-left: 300px;
    font-size: 1em !important;
}

.navbar-brand {
    font-size: 2em;
}

#topNavUl {
    margin-left: 500px;
}

.nav-link {
    color: white !important;
}

.container {
    background-color: #2941AB;
    width: 100%;
    margin: 0 !important;
}